/HTML/my_class_notes
/PHP/my_class_notes
HTML/class
HTML/another-style.css
HTML/Test Practice
HTML/Test
/*you can use a space(HTML/Test Practice), or \ (HTML/Test\ Practice) 
plus a space, or a * (HTML/Test*Practice) for files or directories with spaces in them*/
/.vscode
/S Lubowsky Files
/.gitignore
/PHP/HW_73_Test
/PHP/shmuelsTest.zip
/PHP/HW_73_Test_Single
/PHP/shmuelsTest
/settings.ini
/PHP/settings.ini
/JavaScript/my_class_notes
/JavaScript/.vscode/*
JavaScript/.vscode/launch.json
