*{
    box-sizing: border-box;
}
body{
    margin-bottom:75px;
    margin-top:30px;
}       
li{
    list-style: none;
}
/* part of test but bootstrap's design looks better
.nav.navbar-nav>li>a.navbar-brand{
    color:white;
}
.nav.navbar-nav>li>a:hover.navbar-brand{
    color:red;
    text-decoration: underline;
    
}*/
.padding{
    padding-top:60px;
    
}
.padding-b{
    padding-bottom: 40px;
}

.verticalBar{
    border-right:1px solid lightgray;
}
/* part of test but bootstrap's looks better
.form-control{
    box-shadow:3px 3px black;
}
*/         
.table{
    margin:0 auto;
    width:95% !important;
}
.img{
    height:203px;
}
.white{
    color:white
    
}

@media screen and (max-width:991px){


    
    .img{
        width:100%;
        height:100%;
    }
    .verticalBar{
        border-right:none;
    }
    

}