	h2{
		color:white;
		font-size:35px;		
	}
	
	h1{
		color:white;
		font-size:25px;		
	}
	h1.selected{
		color:green;
		font-size:65px;		
	}
	.menubg{
		
		background-image:url(../../resources/images/menubg.png);
		
		background-clip:border-box;
	}
	.body{
		background-color:rgb(242, 67, 51);
		
	}
	header{
		text-align:center;
		width:100%;		
	}
	img{
		width:150px;
		height:150px;
	}	
	#logo{
		width:200px;
		height:200px;
	}
	.menuItem{
		width:150px;
		height:150px;
		box-shadow: 0 0 8px 8px #818c81 inset;
				
	}
	.description{
		width:200px;
		letter-spacing: 1px;
		line-height: 1.2;
		text-transform:uppercase;
		text-shadow: 2px 3px 4px blue;
	}
	.describe{
		width:150px;
		color:white;
		font-size:10px;
	}
	.aboutTitle{
		text-transform:lowercase;
		font-size:50px;
		
	}
	#iba{
		width:300px;
		height:200px;
	}
	.background{
		background-image:url(../../resources/images/eatingPlace.png);
		background-size:cover;
		background-clip:border-box;
		box-shadow: 0 0 8px 8px rgb(242, 67, 51) inset;	
	}
	nav{
		text-align:center;
		width:800;
		height:400px;		
	}
	a:link{
		color:white;
	}
	a:visited{
		color:#4249b3;
	}
	a:hover{
		color:#777777;
	}
	/*wildcard*/
	a:hover[href="google"]{
		color:#777777;
	}
	/*starts with*/
	a:hover[^href="https://www.google"]{
		color:#777777;
	}
	/*exact*/
	a:hover[href="https://www.google.com/maps?hl=en&tab=wl"]{
		color:#777777;
	}
	
	a{
		text-decoration:none;		
	}
	.float{
		float:left;
		
	}
	.clear{
		clear:both;
	}
	div{
		padding: 10px;
		border: 10px;
		margin: 10px;
	}
	.boxshadow{
		box-shadow:2px 2px 2px 2px #04d20c;
		border-radius:15px;
		
	}
	.circle{
		
		border-radius:50%;
		
	}
	p{
		text-align:center;
		color:white;
	}
	html{
		background-color:black;
	}
	body{
		max-width:800px;
		margin:0 auto;
	}
	.ilb{
		display:inline-block;
	}
	.bullet{
			list-style-image:url(images/restbullet.png);
	}
	.listimg{
		width:75px;
		height:75px;
	}
	
	
	
		
	
		